.login {
  // padding-top: 15%;
  display: flex;
  height: 100vh;
  @media screen and (max-width: 400px) {
    //   padding-top: 60%;
  }

  .loging-image {
    flex: 3;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .login-wrapper {
    background-color: #cdfcf6;
    height: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 50px;
    @media screen and (max-width: 400px) {
      width: 30%;
    }

    .login-main-title {
      font-size: 22px;
      font-weight: 500;
      text-align: center;
      padding-bottom: 60px;
    }

    .login-logo {
      font-size: 32px;
      font-weight: bold;
    }

    .login-details {
      margin-top: 12.5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      //   align-items: center;
      .loging-title {
        font-size: 24px;
        font-weight: bold;
      }
      .login-inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-text-input {
          width: 350px;
          @media screen and (max-width: 400px) {
            width: 250px;
          }
          @media screen and (max-width: 300px) {
            width: 150px;
          }
        }

        .password-claass {
          display: flex;
          align-items: center;
        }

        .registration-text-input-password-claass {
          width: 325px;
          @media screen and (max-width: 400px) {
            width: 225px;
          }
          @media screen and (max-width: 300px) {
            width: 125px;
          }
        }
      }
    }
    .login-buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login-buttons-bottom {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-button {
          width: 350px;
          margin-bottom: 20px;
        }
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
