.dashboard {
  padding: 10px;
  .dashboard-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    .dashboard-top {
      display: flex;
      justify-content: space-between;
    //   align-items: center;

      .dashboard-top-left {
        padding: 10px;
        border: 1px solid #fff;
      }
      .dashboard-top-right {
        padding: 10px;
        border: 1px solid #fff;
        .extra-class-tbl-title {
            font-size: 18px;
        }
        .extra-class-registration-tbl {
        }
      }
    }
    .dashboard-middle{
        margin-top: 50px;
        padding: 10px;
        border: 1px solid #fff;
        .subject-tbl-title{
            font-size: 18px;

        }
        .subject-registration-tbl{

        }
    }
  }
}
