.layout {
  .layout-box {
    .layout-appbar {
      // margin-left: 240px;
      padding-left: 240px;
    }
    .layout-list {
      margin-top: 100px;
    }
    .main-render {
      color: #fff;
      margin-top: 64px;
      margin-left: 220px;
      width: auto;
    }
    .main-rendershow {
      color: #fff;
      padding-top: 64px;
    }
  }
}
