.hall-reg {
    padding: 10px;
    .hall-reg-wrapper {
      width: 100%;
      .hall-reg-top {
        padding: 10px;
        border: 1px solid #fff;
        .hall-reg-top-search {
          display: flex;
          align-items: center;
          justify-content: center;
          .registration-add-Icon {
            font-size: 40px;
            cursor: pointer;
            :hover {
              color: #270082;
            }
          }
          .registration-search-input {
          }
          .registration-search-Icon {
            font-size: 40px;
            cursor: pointer;
            :hover {
              color: #270082;
            }
          }
          .registration-filter-Icon {
            font-size: 40px;
            cursor: pointer;
            :hover {
              color: #270082;
            }
          }
        }
        .hall-reg-top-filter {
          margin-top: 20px;
          border: 1px solid #fff;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          // padding-left: 20%;
          @media screen and (max-width: 600px) {
            flex-direction: column;
          }
          .hall-reg-top-filter-email {
            flex: 1;
            display: flex;
            align-items: center;
            @media screen and (max-width: 600px) {
              width: 100%;
              margin-bottom: 10px;
            }
            .email-lablle {
              font-size: 18px;
              margin-right: 10px;
            }
            .email-input {
              width: 50%;
              @media screen and (max-width: 600px) {
                width: 100%;
              }
            }
          }
          .hall-reg-top-filter-status {
            flex: 1;
            display: flex;
            align-items: center;
            @media screen and (max-width: 600px) {
              width: 100%;
              margin-bottom: 20px;
            }
            .status-lablle {
              font-size: 18px;
              margin-right: 10px;
              @media screen and (max-width: 600px) {
                margin-right: 4px;
              }
            }
            .status-input {
              width: 50%;
              @media screen and (max-width: 600px) {
                width: 100%;
              }
            }
          }
          .hall-reg-top-filter-buttons {
            // flex: 1;
            display: flex;
            align-items: center;
            @media screen and (max-width: 600px) {
              width: 100%;
              margin-bottom: 10px;
              align-items: flex-end;
              margin-left: 85%;
            }
            .filter-btn {
              margin-right: 20px;
            }
            .cancel-btn {
            }
          }
        }
        .hall-reg-top-filterblock {
          display: none;
        }
      }
      .hall-reg-middle {
        margin-top: 30px;
        padding: 10px;
        border: 1px solid #fff;
        width: 100%;
        .hall-tbl-title {
          font-size: 28px;
          font-weight: 600;
        }
        .hall-registration-tbl {
          width: 100%;
        }
      }
      .category-reg-bottom {
      }
    }
  }
  